.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.formContainer {
  background-color: #fff;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  margin: 0 0 2rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formGroup > label {
  margin-bottom: 0.5rem;
}

.formGroup > input {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: #fff;
}
.button {
  border: 0;
  background-color: rgb(0, 102, 255);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
